        /* 공통 */
        
        @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&family=Roboto&display=swap');
        /* 주폰트 */
        
        body {
            font-family: 'Noto Sans KR', sans-serif, 'Noto Serif KR', serif;
            ;
            font-size: 16px;
            color: #505050;
        }
        
        .heddin {
            display: none;
        }
        /* 메인컬러 */
        /*1400xp 72.91666666666667% */
        /* 모바일 */
        
        .warp {
            width: 100%;
            max-width: 100%;
            display: -webkit-flex;
            display: flex;
        }
        /* 헤드 */
        
        .header {
            width: 100%;
            height: 50px;
            display: flex;
            position: relative;
            z-index: 100;
        }
        
        .container {
            width: 100%;
            height: auto;
        }
        
        .logo {
            width: 50%;
            height: 100%;
            align-items: center;
        }
        
        .logo>h1 {
            line-height: 50px;
            padding-left: 16px;
        }
        
        .nav-p {
            display: none;
        }
        
        .nav-btn-m {
            line-height: 50px;
            float: right;
            width: 50%;
            text-align: right;
            padding-right: 16px;
        }
        
        .overlay {
            height: 0%;
            width: 100%;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #e6b105;
            overflow-x: hidden;
            transition: 0.5s;
        }
        
        .overlay-content {
            position: relative;
            top: 14.62962962962963%;
            width: 100%;
            font-size: 150%;
            font-weight: 400;
        }
        
        .overlay a {
            padding: 16px 16px 16px 12.5%;
            text-decoration: none;
            height: 4.62962962962963%;
            color: #fff;
            display: block;
            transition: 0.3s;
        }
        
        .overlay a:hover,
        .overlay a:focus {
            color: #f1f1f1;
        }
        
        .overlay .closebtn {
            position: absolute;
            font-size: 200%;
            right: 20px;
        }
        
        .m-nav-foot {
            width: 100%;
            position: relative;
            top: 40.24074074074074%;
            color: #fff;
            border-top: 1px solid #fff;
        }
        
        .m-nav-foot>p {
            padding-left: 12.5%;
            font-size: 85.3%;
            line-height: 150%;
            margin-top: 20px;
        }
        
        .m-nav-foot>p:last-child {
            padding: 0;
            text-align: center;
        }
        /* 이미지슬라이드 */
        
        .visual {
            width: 100%;
            height: 93.75vh;
            margin-top: -50px;
            ;
        }
        
        .mySlides {
            display: none
        }
        
        img {
            vertical-align: middle;
        }
        /* Slideshow container */
        
        .slideshow-container {
            max-width: 100%;
            height: 100%;
            position: relative;
            margin: auto;
            overflow: hidden;
        }
        
        .visual-bg {
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
        }
        /* Next & previous buttons */
        
        .prev,
        .next {
            cursor: pointer;
            position: absolute;
            bottom: 3%;
            width: auto;
            padding: 5px;
            right: 5%;
            margin-top: -22px;
            color: white;
            font-weight: bold;
            font-size: 18px;
            transition: 0.6s ease;
            border: 1px solid #fff;
            border-radius: 3%;
            user-select: none;
        }
        /* Position the "next button" to the right */
        
        .prev {
            margin-right: 40px;
            border-radius: 3px 0 0 3px;
        }
        /* On hover, add a black background color with a little bit see-through */
        
        .prev:hover,
        .next:hover {
            color: #e6b105;
            border-color: #e6b105;
        }
        /* Caption text */
        
        .visual-text {
            color: #f2f2f2;
            font-size: 280%;
            padding: 8px 12px;
            position: absolute;
            top: 45.83333333333333%;
            width: 100%;
            left: 5%;
            line-height: 120%;
            font-weight: 800;
            letter-spacing: 3px;
        }
        /* Number text (1/3 etc) */
        
        .numbertext {
            color: #fff;
            font-size: 150%;
            font-weight: 400;
            padding: 8px 12px;
            position: absolute;
            top: 39.16666666666667%;
            left: 5%;
        }
        /* The dots/bullets/indicators */
        
        .visual-line {
            float: left;
            width: 100%;
        }
        
        .dot {
            cursor: pointer;
            height: 2px;
            width: 40px;
            margin: 0 2px;
            background-color: #dcdcdc;
            display: inline-block;
            transition: background-color 0.6s ease;
            display: none;
        }
        
        .active,
        .dot:hover {
            background-color: #e6b105;
        }
        /* Fading animation */
        
        .fade {
            -webkit-animation-name: fade;
            -webkit-animation-duration: 1s;
            animation-name: fade;
            animation-duration: 1s;
        }
        
        @-webkit-keyframes fade {
            from {
                opacity: .4
            }
            to {
                opacity: 1
            }
        }
        
        @keyframes fade {
            from {
                opacity: .4
            }
            to {
                opacity: 1
            }
        }
        /* studio.d소개 */
        
        .about {
            width: 100%;
            padding: 6.25vh 0;
            float: left;
        }
        
        .about-img {
            float: right;
            width: 75%;
            height: 39.0625vh;
            text-align: center;
            overflow: hidden;
            background-size: cover;
        }
        
        .about-img>img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        
        .about>.container>h3 {
            color: #e6b105;
            padding: 5%;
            margin-top: -42px;
            float: left;
            line-height: 180%;
            ;
        }
        
        .about>.container>h3>span:first-child {
            font-size: 120%;
            font-weight: 400;
        }
        
        .about>.container>h3>span:last-child {
            font-size: 200%;
            font-weight: 700;
        }
        
        .about>.container>p {
            float: left;
            width: 100%;
            padding: 0 5%;
            box-sizing: border-box;
            color: #505050;
            font-size: 93.8%;
        }
        
        .about>.container>p:last-child {
            display: none;
        }
        /*서비스*/
        
        .service {
            width: 100%;
            display: flex;
            background-image: url(../images/service-bg.png);
            background-size: cover;
        }
        
        .service-op {
            width: 100%;
            height: 100%;
            padding: 6.25vh 5%;
            box-sizing: border-box;
        }
        
        .service-op>h3 {
            color: #e6b105;
            text-align: center;
            font-size: 120%;
            font-weight: 500;
            letter-spacing: 1.5px;
        }
        
        .service-op>p {
            color: #fff;
            line-height: 150%;
            padding: 2.5%;
            font-weight: 300;
            font-size: 93.8%;
        }
        
        .step {
            width: 100%;
            margin-top: 5%;
            display: flex;
        }
        
        .step>ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 0 auto;
        }
        
        .step>ul>li {
            width: 135px;
            height: 135px;
            border-radius: 50%;
            margin: 2.5% 0;
            box-sizing: border-box;
            color: #fff;
            display: flex;
            align-items: center;
            background-size: cover;
        }
        
        .step>ul>li>div {
            width: 100%;
            text-align: center;
            line-height: 150%;
        }
        
        .step>ul>li>div>span:first-child {
            color: #e6b105;
            font-size: 150%;
            font-weight: 500;
        }
        
        .step>ul>li>div>span:last-child {
            font-weight: 300;
            font-size: 93.8%;
        }
        /*project*/
        
        .project {
            width: 100%;
            height: 92.1875vh;
            padding: 6.25vh 5%;
            box-sizing: border-box;
        }
        
        .project>h3 {
            color: #e6b105;
            font-size: 120%;
            font-weight: 500;
            letter-spacing: 1.5px;
        }
        
        .project-img {
            width: 100%;
            height: 46.875vh;
            text-align: center;
            vertical-align: middle;
            margin-top: 2.5vh;
        }
        
        .project-img>img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        
        .project-reverse>dl {
            margin-top: 2.5vh;
        }
        
        .project-reverse>dl>dt {
            margin-bottom: 2.5vh;
        }
        
        .project-reversedl>dt>a {
            color: #121212;
            font-size: 120%;
            font-weight: 500;
        }
        
        .project-reverse>dl>dd {
            line-height: 170%;
            font-size: 81.3%;
            color: #505050;
        }
        
        .project-reverse>dl>dd:first-child {
            padding-top: 20px;
        }
        
        .project-reverse>dl>dd>span:first-child {
            font-weight: 500;
            margin-right: 5px;
        }
        
        .project>a {
            padding: 5px 10px;
            border: 1px solid #e6b105;
            color: #e6b105;
            display: inline-block;
            margin-top: 2.5vh;
            font-size: 81.3%;
            float: right;
        }
        
        .Project>a:hover {
            color: #fff;
            background-color: #e6b105;
        }
        /*contact*/
        
        .contact {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: row-reverse;
        }
        
        .contact-m {
            width: 100%;
            height: 100%;
            padding: 6.25vh 5%;
            box-sizing: border-box;
            background-color: #997602;
        }
        
        .contact-m>h3 {
            font-size: 120%;
            color: #fff;
            letter-spacing: 1.2px;
            padding-bottom: 5vh;
        }
        
        .contact-m>p {
            color: #fff;
            line-height: 150%;
        }
        
        .contact-m>p.text-s {
            font-size: 81.3%;
            font-weight: 200;
        }
        
        .contact-m>p.text-l {
            font-size: 120%;
            font-weight: 400;
        }
        
        .contact-form {
            width: 100%;
            margin-top: 5vh;
        }
        
        .contact-form>form>label {
            display: none;
        }
        
        .contact-form>form>input[type=text] {
            background: none;
            border: 1px solid #fff;
            width: 100%;
            padding: 10px;
            box-sizing: border-box;
            margin-bottom: 10px;
            color: #fff;
        }
        
        .contact-form>form>input[type=text]:active {
            border-top: none;
            border-left: none;
            border-right: none;
        }
        
        .contact-form>form>input::placeholder {
            color: #fff;
        }
        
        .contact-form>form>input[type=submit] {
            width: 100%;
            text-align: center;
            color: #fff;
            background: #e6b105;
            border: none;
            padding: 10px 0;
            margin-bottom: 5vh;
            font-weight: 500;
        }
        
        .footer {
            display: none;
        }
        /*서브 studio-d*/
        
        .sub-visual {
            width: 100%;
            height: 31.25vh;
            display: flex;
            background-image: url(../images/sub-visual-bg.png);
            background-size: cover;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .sub-visual>.container>h3 {
            text-align: center;
            color: #e6b105;
            line-height: 250%;
        }
        
        .sub-visual>.container>h3>span:first-child {
            font-size: 106%;
        }
        
        .sub-visual>.container>h3>span:last-child {
            font-size: 200%;
            font-weight: 700;
        }
        
        .about-sub-cont {
            width: 100%;
            height: auto;
            padding: 6.25vh 5%;
            box-sizing: border-box;
            display: flex;
            flex-wrap: wrap;
        }
        
        .about-cont-txt {
            width: 100%;
            height: auto;
            padding: 0 0 6.25vh 0;
        }
        
        .about-cont-txt>h4 {
            color: #e6b105;
            line-height: 180%;
            margin-bottom: 6.25vh;
        }
        
        .about-cont-txt>h4>span:first-child {
            font-size: 106%;
        }
        
        .about-cont-txt>h4>span:last-child {
            font-size: 200%;
            font-weight: 700;
        }
        
        .about-cont-txt>p {
            line-height: 160%;
            margin-bottom: 2vh;
            padding: 0 5%;
            box-sizing: border-box;
        }
        
        .about-cont-txt>p.point-txt {
            font-family: 'Noto Serif KR';
            color: #ae8402;
            font-size: 150%;
            font-weight: 600;
        }
        
        .about-cont-txt>h5 {
            color: #e6b105;
            line-height: 160%;
            margin-bottom: 3vh;
            font-size: 150%;
        }
        
        .about-cont-txt>ul>li {
            float: left;
            margin-left: 15px;
        }
        
        .about-cont-txt>ul>li>div>span:first-child {
            font-size: 170%;
            color: #e6b105;
        }
        
        .about-cont-txt>ul>li>div>span:last-child {
            font-size: 75%;
        }
        
        .about-cont-si {
            width: 100%;
            height: auto;
            padding: 5vh 5%;
            background-image: url(../images/sub-about-pointbg.png);
            background-size: cover;
            box-sizing: border-box;
        }
        
        .about-cont-si>p {
            background-color: rgba(237, 181, 5, 0.83);
            font-family: 'Noto Serif KR';
            color: #fff;
            font-size: 130%;
            line-height: 160%;
            font-weight: 500;
            padding: 5%;
            box-sizing: border-box;
            text-align: center;
        }
        
        .about-cont-img {
            display: none;
        }
        /*프로젝트 리스트*/
        
        .sub-project {
           /* width: 100%;*/
            height: auto;
            padding: 6.25vh 5%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
        
        .sub-project>h3 {
            width: 100%;
            line-height: 160%;
            padding: 0 0 6.25vh 0;
            font-weight: 600;
            text-align: center;
            font-size: 150%;
            color: #e6b105;
        }
        
        .filterDiv {
            float: left;
            width: 100%;
            height: auto;
            display: none;
            margin-bottom: 2%;
        }
        
        .show {
            display: block;
        }
        
        .container-f {
            margin-top: 20px;
            overflow: hidden;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
        
        .list-img {
            width: 100%;
            height: 31.25vh;
        }
        
        .list-img>img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        
        .filterDiv>h5>a {
            font-size: 125%;
            padding: 5px 0;
            line-height: 160%;
            font-weight: 500;
            color: #202020;
        }
        /* Style the buttons */
        
        .btnP {
            border: none;
            outline: none;
            padding: 12px 16px;
            border: 1px solid #e6b105;
            background-color: #fff;
            cursor: pointer;
            color: #e6b105;
        }
        
        .btnP:hover {
            background-color: #e6b105;
            color: #fff;
        }
        
        .btnP.active {
            background-color: #e6b105;
            color: white;
        }
        /*프로젝트 뷰어*/
        
        .sub-project-view {
            width: 100;
            height: auto;
            padding: 6.25vh 0;
            display: flex;
            flex-wrap: wrap;
        }
        
        .project-num {
            width: 100%;
            height: auto;
            color: #e6b105;
            font-size: 93.8%;
            font-weight: 500;
            padding: 0 5% 5vh 0;
            display: flex;
            box-sizing: border-box;
        }
        
        .project-num>p {
            width: 100%;
            text-align: right;
        }
        
        .view-title-img {
            width: 100%;
            height: 31.25vh;
            display: flex;
        }
        
        .view-title-img>img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            ;
        }
        
        .sub-project-view>h3 {
            color: #e6b105;
            font-size: 131.3%;
            font-weight: 500;
            padding: 3vh 5%;
        }
        
        .sub-project-view>p {
            color: #505050;
            padding: 3vh 5%;
            line-height: 160%;
            font-size: 93.8%;
        }
        
        .sub-project-view>dl {
            padding: 0 5% 0 0;
            margin-left: 7%;
            font-size: 87.5%;
            border-left: 2px solid #e6b105;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
        }
        
        .sub-project-view>dl>dd,
        .sub-project-view>dl>dt {
            padding-left: 5%;
            box-sizing: border-box;
            line-height: 180%;
            ;
        }
        
        .sub-project-view>dl>dt {
            width: 25%;
            color: #3c3c3c;
            font-weight: 600;
        }
        
        .sub-project-view>dl>dd {
            width: 75%;
        }
        
        .sub-project-view>dl>dd:first-child {
            width: 100%;
            color: #3c3c3c;
            font-weight: 600;
        }
        
        .sub-project-view-imglist {
            width: 100%;
            height: auto;
            padding: 6.25vh 5%;
        }
        
        .sub-project-row {
            display: -ms-flexbox;
            /* IE10 */
            display: flex;
            -ms-flex-wrap: wrap;
            /* IE10 */
            flex-wrap: wrap;
            padding: 0 4px;
        }
        
        .sub-project-column {
            -ms-flex: 100%;
            /* IE10 */
            flex: 100%;
            max-width: 100%;
            padding: 0 4px;
        }
        
        .sub-project-column>img {
            margin-top: 8px;
            vertical-align: middle;
            width: 100%;
            object-fit: cover;
        }
        /*contact*/
        
        .sub-contact-align {
            width: 100%;
            height: auto;
        }
        
        #map {
            width: 100%;
            height: 78.125vh;
        }
        /*service*/
        
        .sub-service {
            width: 100%;
            height: auto;
            padding: 6.25vh 5%;
            box-sizing: border-box;
            display: flex;
            flex-wrap: wrap;
        }
        
        .sub-service>h3 {
            width: 100%;
            line-height: 160%;
            padding: 0 0 6.25vh 0;
            font-weight: 600;
            text-align: center;
            font-size: 150%;
            color: #e6b105;
        }
        
        .sub-service-txt {
            width: 100%;
            height: auto;
            padding: 6.25vh 0;
        }
        
        .sub-service-txt>p {
            color: #505050;
            line-height: 160%;
            width: 100%;
        }
        
        .sub-service-txt>p>span {
            color: #e6b105;
            font-weight: 600;
            font-size: 180%;
        }
        
        .sub-service-step {
            width: 100%;
            height: auto;
        }
        
        .sub-service-step>ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        
        .sub-service-step>ul>li {
            width: 100%;
            height: auto;
            display: flex;
            margin-bottom: 2%;
        }
        
        .sub-service-step>ul>li>div {
            width: 50%;
            height: 22.5vh;
        }
        
        .sub-service-step>ul>li>div:first-child>img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        
        .sub-service-step>ul>li>div:last-child {
            padding: 3%;
        }
        
        .sub-service-step>ul>li>div:last-child>h4 {
            color: #e6b105;
            margin-bottom: 10px;
        }
        
        .sub-service-step>ul>li>div:last-child>h4>span:first-child {
            font-size: 131%;
        }
        
        .sub-service-step>ul>li>div:last-child>p {
            font-size: 81.3%;
            line-height: 160%;
        }
        
        .sub-service-lasttxt {
            width: 100%;
            height: 100%;
            background-image: url(../images/sub-service-lasttxt-bg.png);
            background-size: cover;
            background-color: rgba(12, 12, 12, 0.83);
        }
        
        .sub-bg-a {
            background-color: rgba(12, 12, 12, 0.83);
        }
        
        .sub-service-lasttxt>.container>p {
            font-family: 'Noto Serif KR', serif;
            line-height: 180%;
            padding: 16px;
            width: 100%;
            box-sizing: border-box;
            color: #fff;
            text-align: center;
        }
        
        .sub-service-lasttxt>.container>p>span {
            font-size: 131%;
            color: #e6b105;
        }
        /* 테블릿 */
        
        @media all and (min-width: 768px) {
            .logo {
                width: 30%;
            }
            .nav-btn-m {
                width: 70%;
            }
            .about {
                background: url(../images/about-bg-l.png) no-repeat;
            }
            .about>.container>h3 {
                background-color: #fff;
            }
            .about>.container>p:last-child {
                display: block;
                font-size: 100%;
                line-height: 160%;
                ;
            }
            .step>ul {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }
            .step>ul>li {
                background-size: cover;
                margin-left: 20px;
            }
            .footer {
                width: 100%;
                height: 120px;
                background: #202020;
                display: block;
            }
            .footer-logo {
                width: 30%;
                height: 60px;
                float: left;
                padding-left: 5%;
                box-sizing: border-box;
            }
            .footer-logo>h2 {
                line-height: 60px;
            }
            .add {
                width: 70%;
                height: 60px;
                color: #fff;
                float: left;
            }
            .add>p {
                font-size: 81.3%;
                color: #fff;
                line-height: 60px;
                ;
            }
            p.copy {
                color: #fff;
                text-align: center;
                font-size: 81.3%;
                line-height: 60px;
            }
            /*프로젝트뷰*/
            .sub-project-view-imglist {
                padding-left: 0;
                padding-right: 0;
            }
            .sub-project-column {
                -ms-flex: 50%%;
                /* IE10 */
                flex: 50%;
                max-width: 50%;
                padding: 0 4px;
                box-sizing: border-box;
            }
        }
        /* 데스크탑 */
        
        @media all and (min-width: 960px) {
            .container {
                width: 72.91666666666667%;
                margin: 0 auto;
            }
            .header {
                height: 80px;
                line-height: 80px;
            }
            .logo {
                height: 80px;
                line-height: 80px;
            }
            .logo>h1 {
                line-height: 80px;
                padding-left: 0
            }
            /*메인*/
            .nav-btn-m,
            .m-nav {
                display: none;
            }
            .nav-p {
                display: block;
                display: flex;
                flex-direction: row-reverse;
                width: 70%;
                height: 80px;
                line-height: 80px;
            }
            .nav-p>ul {
                float: right;
            }
            .nav-p>ul>li {
                display: inline-flex;
            }
            .nav-p>ul>li>a {
                padding-left: 30px;
                color: #505050;
            }
            .nav-p>ul>li>a:hover {
                color: #e6b105;
            }
            .visual {
                margin-top: -80px;
            }
            .about,
            .service-op,
            .project,
            .contact {
                padding-left: 0;
                padding-right: 0;
            }
            .about>.container>h3 {
                padding-left: 21.42857142857143%;
            }
            .about>.container>h3>span:first-child {
                font-size: 200%;
            }
            .about>.container>h3>span:last-child {
                font-size: 300%;
            }
            .about>.container>p {
                padding-left: 25%;
                box-sizing: border-box;
            }
            .about>.container>p:last-child {
                display: block;
                font-size: 100%;
                line-height: 160%;
                ;
            }
            .step>ul>li {
                width: 180px;
                height: 180px;
                background-size: cover;
            }
            .contact {
                background: url(../images/contact-bg.png) no-repeat;
                background-size: auto 600px;
                background-position: left center;
            }
            .contact-m {
                width: 50%;
                float: right;
            }
            .footer {
                margin-top: 40px;
            }
            .footer-logo {
                padding-left: 0;
            }
            .sub-head-line {
                width: 100%;
                height: 80px;
                border-bottom: 1px solid #dcdcdc;
            }
            /*서브 studio-d*/
            .about-sub-cont {
                width: 100%;
                height: auto;
                padding: 6.25vh 0;
                box-sizing: border-box;
                display: flex;
                flex-direction: row;
            }
            .about-cont-img {
                display: block;
                width: 50%;
            }
            .about-cont-img>img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .about-cont-txt {
                width: 50%;
                padding-left: 5%;
                box-sizing: border-box;
            }
            /*project*/
            .sub-project {
                padding-left: 0;
                padding-right: 0;
            }
            .filterDiv {
                width: 49%;
            }
            .container-f {
                display: flex;
                justify-content: space-between;
            }
            /*view*/
            .view-title-img {
                height: 400px;
            }
            .project-num {
                padding-right: 0;
            }
            .sub-project-view>h3,
            .sub-project-view>p {
                padding-left: 0;
                padding-right: 0;
            }
            .sub-contact-align {
                display: flex;
                flex-direction: row;
                height: 100%;
                padding-top: 6.25vh;
            }
            #map {
                width: 50%;
                display: flex;
                height: 70vh;
            }
            .sub-contact {
                width: 50%;
                height: 70vh;
            }
            /*service*/
            .sub-service {
                padding-left: 0;
                padding-right: 0;
            }
            .sub-service-txt {
                padding-top: 0;
            }
            .sub-service-step>ul>li {
                width: 50%;
                height: auto;
                display: flex;
                margin-bottom: 2%;
            }
            .sub-service-step>ul>li>div {
                height: 150px;
            }
            /**/
            .main-project-bg {
                width: 100%;
                height: auto;
                float: left;
                background: url(../images/about-bg-l.png) no-repeat;
            }
            .project {
                height: auto;
                padding-bottom: 100px;
                float: left;
            }
            .project>a {
                float: left;
                margin-top: -30px;
            }
            .project-reverse {
                display: flex;
                flex-direction: row-reverse;
                width: 100%;
            }
            .project-img {
                width: 60%;
            }
            .project-reverse>dl {
                margin-top: 100px;
                width: 40%;
            }
            .project-reverse>dl>dt {
                margin-bottom: 80px;
            }
            .project-reverse>dl>dt>a {
                color: #121212;
                background-color: #e6b105;
                font-size: 300%;
                font-weight: 600;
                padding: 10px 15px;
                margin-bottom: 30px;
            }
            .project-reverse>dl>dd {
                line-height: 170%;
                font-size: 100%;
                color: #505050;
            }
            .project-reverse>dl>dd:first-child {
                padding-top: 50px;
            }
            .project-reverse>dl>dd>span:first-child {
                font-weight: 500;
                margin-right: 5px;
            }
        }
